/*初始化默认样式*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea,
th, td, select {
    margin: 0;
    padding: 0;
}
body{
	/*去除左右滚动条*/
	overflow-x:hidden;
	background-color:#EAEAEA;
}
ul,ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: #232323;
}
a:hover{
	text-decoration: none;
}

.container-fluid{
	padding:0;
}
/*导航*/
#index_nav{
	background: -webkit-linear-gradient(left, #4876FF , #FF6347); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #4876FF, #FF6347); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #4876FF, #FF6347); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #4876FF , #FF6347); /* 标准的语法*/
}
.title_Logo{
	width:45px;
}
.nav a{
	color:#CCCCCC;
}
.login{
	padding-left: 580px;
}
.login a{
	margin:10px;
	color: #fff;
}
.nav-item a:hover{
	border-radius:50px;
	color:#FFFFFF;
	background-color:#FF6347;    
}
.content{
	margin-top: 90px;
	height: 410px;
}
.card{
	width: 600px;
	height: 400px;
	margin:20px auto;
	box-shadow: 8px 8px 4px #888888;
}
.login-form{
	text-align: center;
}
.login-form input{
	width: 290px;
	height: 40px;
	margin: 15px 0;
	border-right: 10px;
	border-radius: 2px;
	border-color: #D4D4D4;
}
.login-form button{
	width: 100px;
	height: 40px;
	margin:10px 0 20px 256px;
	border-radius: 6px;
	box-shadow: 8px 8px 4px #888888;
	background-color:#43CD80;
	color: #fff;
}

/*底部区域*/
.foot_shenming{
	height: 120px;
	margin-top:20px;
	background: -webkit-linear-gradient(left, #4876FF , #FF6347); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #4876FF, #FF6347); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #4876FF, #FF6347); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #4876FF , #FF6347); /* 标准的语法*/
}
.foot_left{
	float: left;
	margin: 12px 200px 0 150px;
}
.foot_left img{
	width: 80px;
}
.foot_center{
    padding:38px;
    line-height:30px;
    text-align: center;
    float: left;
    color: #fff;
}
.foot_right{
	float: right;
	margin-right:120px;
	height: 120px;
	width: 140px;
	text-align: center;
}
