/*初始化默认样式*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea,
th, td, select {
    margin: 0;
    padding: 0;
}
body{
	/*去除左右滚动条*/
	overflow-x:hidden;
}
ul,ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: #232323;
}
a:hover{
	text-decoration: none;
}

.container-fluid{
	padding:0;
}
/*导航*/
#index_nav{
	background: -webkit-linear-gradient(left, #4876FF , #FF6347); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #4876FF, #FF6347); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #4876FF, #FF6347); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #4876FF , #FF6347); /* 标准的语法*/
}
.title_Logo{
	width:45px;
}
.nav a{
	color:#CCCCCC;
}
.nav_sousuo{
	margin-left:200px;
}
.nav-item a:hover{
	border-radius:50px;
	color:#FFFFFF;
	background-color:#FF6347;    
}
/*content部分*/
.center{
	margin-top: 90px;
	height: 1100px;
}
.content_view img{
   border-radius:15px;
   width: 250px;
   height: 140px;
}
.content_view li img:hover{
	border-radius:50%;
}
.center li a{
	color:#696969;
}
.nav_xueke{
	float: left;
	line-height: 40px;
	font-size:18px;
	
}
.nav_fenlei div{
	margin-left: 34px;
}
.content_view{
	margin-left: -30px;
	padding-top: 10px;
}
.content_view ul li{
	float: left;
	margin: 10px;
}
.content_view ul li span:nth-child(4){
	color: red;
	float: right;
}
.view_all_01_nav{
	position: absolute;
    top: 1130px;
    left: 40%;
}

/*底部区域*/
.foot_shenming{
	height: 120px;
	margin-top:20px;
	background: -webkit-linear-gradient(left, #4876FF , #FF6347); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #4876FF, #FF6347); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #4876FF, #FF6347); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #4876FF , #FF6347); /* 标准的语法*/
}
.foot_left{
	float: left;
	margin: 12px 200px 0 150px;
}
.foot_left img{
	width: 80px;
}
.foot_center{
    padding:38px;
    line-height:30px;
    text-align: center;
    float: left;
    color: #fff;
}
.foot_right{
	float: right;
	margin-right:120px;
	height: 120px;
	width: 140px;
	text-align: center;
}
